# Atividade 1 da Disciplica de Machine Learning
## Alunos: Gabriel Miranda, Rafael Takeguma, Arthur Santos
## Etapa 1: Pré-processamento dos dados

Abrindo o dataset em um dataframe pandas

In [5]:
import pandas as pd

df = pd.read_csv("dataset - dataset.csv")
df.head()

,curriculum_id,student_id,centro,department_name,course_name,student_age_at_initial_period,birthday,birth_place,ingress_form,locks_number,...,optative_ch_progress,curriculum_status,leaving_reason,mc,course_mc,iepl,course_iepl,iech,course_iech,iea
0,122,97,CCET,DCOMP,CIÊNCIA DA COMPUTAÇÃO,30,1964-05-14,PORTO ALEGRE/RS,TRANSFERÊNCIA COMPULSÓRIA,0,...,100,CANCELADO,DECURSO DE PRAZO MÁXIMO P/ CONCLUSÃO DE CURSO,1.79,4.537.049.312.853.680,0.3,476.704.122.877.932,0.3,5.301.382.376.717.860,1.611
1,215,167,CCET,DCOMP,CIÊNCIA DA COMPUTAÇÃO,18,1980-05-11,ARACAJU/SE,VESTIBULAR,0,...,100,CANCELADO,ABANDONO,6.69,4.537.049.312.853.680,0.3,476.704.122.877.932,367.0,5.301.382.376.717.860,7.366
2,348,285,CCET,DCOMP,CIÊNCIA DA COMPUTAÇÃO,19,1983-10-26,ARACAJU/SE,VESTIBULAR,0,...,100,CANCELADO,ABANDONO,6.66,4.537.049.312.853.680,0.3,476.704.122.877.932,446.0,5.301.382.376.717.860,8.911
3,352,289,CCET,DCOMP,CIÊNCIA DA COMPUTAÇÃO,21,1981-08-08,RIO DE JANEIRO/RJ,VESTIBULAR,0,...,100,CANCELADO,ABANDONO,6.71,4.537.049.312.853.680,0.3,476.704.122.877.932,411.0,5.301.382.376.717.860,8.273
4,414,351,CCET,DCOMP,CIÊNCIA DA COMPUTAÇÃO,18,1986-02-10,ARACAJU/SE,VESTIBULAR,0,...,100,CONCLUÍDO,CONCLUÍDO,6.55,4.537.049.312.853.680,325.0,476.704.122.877.932,429.0,5.301.382.376.717.860,9.132

In [7]:
# Exibe informações gerais sobre o dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2603 entries, 0 to 2602
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   curriculum_id                  2603 non-null   int64
 1   student_id                     2603 non-null   int64
 2   centro                         2603 non-null   object
 3   department_name                2603 non-null   object
 4   course_name                    2603 non-null   object
 5   student_age_at_initial_period  2603 non-null   int64
 6   birthday                       2603 non-null   object
 7   birth_place                    2600 non-null   object
 8   ingress_form                   2603 non-null   object
 9   locks_number                   2603 non-null   int64
 10  required_ch_progress           2603 non-null   object
 11  optative_ch_progress           2603 non-null   object
 12  curriculum_status              2603 non-null   object
 13  leaving_reason                 1517 non-null   object
 14  mc                             2603 non-null   float64
 15  course_mc                      2603 non-null   object
 16  iepl                           2603 non-null   float64
 17  course_iepl                    2603 non-null   object
 18  iech                           2603 non-null   float64
 19  course_iech                    2603 non-null   object
 20  iea                            2603 non-null   float64
dtypes: float64(4), int64(4), object(13)
memory usage: 427.2+ KB